html{
    background-color: black;
    color: slategray;
    text-align: center;
    font-family: 'REM', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 1.5vw;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
}
img{
    max-width: 40%;
    max-height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    padding: 0px;
}

#logo{
    max-width: 20%;
}