html{
    background-color: black;
    color: slategray;
    text-align: center;
    font-family: 'REM', sans-serif;
    font-size: 1.3vw;
}

#logo{
    max-width: 20vw;
}

#wrench{
    max-width: 70vw;
    max-height: 65vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (orientation: portrait){
    .flex{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 90vh;

    }
    #logo{
        max-width: 40%;
    }

    h4{
        font-size: 3vw;
    }
    
    #wrench{
        max-width: 60vw;
        max-height: 60vh;
    }
}